body {
  width: 100vw;
  height: 100vh;
}

/*
Flex para alinhar os cards no centro da pagina
e um do lado do outro com um gap de 70 pixels
*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100vw;
  height: 100vh;
}

/*
Criação da Responsividade dos slides do fundo
*/
.bg-img-1 {
  background-image: url(/img/pexels-brett-sayles-1322185.jpg);
}

.bg-img-2 {
  background-image: url(/img/pexels-louis-2101187.jpg);
}

.bg-img-3 {
  background-image: url(/img/pexels-matthew-montrone-1324803.jpg);
}

.carousel-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
Inicio da tentaive de deixar os cards responivos
*/
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 600px) {
}

/*
Alinhamento do titulo do card
*/
.card {
  width: 12em;
  height: 200px;
  background-color: #fafafa;
}
.card-title {
  text-align: center;
}
.list-group-item {
  width: 11.8em;
  background-color: #fafafa;
}
/*
Alinhamento e configuração da imagem no topo do card
*/
.card-img-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*
Imagem ao lado do titulo (mesma citada acima)
*/

.card-image-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icon {
  left: 50px;
  top: -20px;
  position: absolute;
}

.navbar-brand {
  height: 55px;
  position: relative;
}

/*
Classe criado para alinhar o conteudo (divisor colorido, dado, simobolo)
*/
.card-list-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/*
Simbolo da velocidade do vento bagulho (divisor verde na esquerda)
*/
.wind-icon {
  width: 10px;
  height: 20px;
  background-color: #1dee0a;
  border-radius: 10px;
}
/*
Simbolo de humidade (divisor azul na esquerda)
*/
.humitity-icon {
  width: 10px;
  height: 20px;
  background-color: #0aadee;
  border-radius: 10px;
}
/*
Alinhamento das listas do card
*/
.list-group-item {
  right: 40px;
}

/*
Alinhamento dos intens dentro do menu "Sobre"
*/
.dropdown-item {
  text-align: left;
}
/* Mudança no botao de pesquisa - navbar */
.pesquisa {
  width: 280px;
}

.btn-css {
  margin: 0 0.5em;
}

.fundo {
  background-color: #fff;
  position: absolute;
  width: 67vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 20em;
  border-radius: 0.5em;
}

.carousel-inner .c-img {
  width: 100vw;
  height: 100vh;
}
