/* mobile css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
/* background */
.background {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* navbar inicio */
.navbar-toggler {
  border-color: #fafafa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302d2d;
}
.navbar a,
span {
  color: #fff;
}

.nav-item button {
  background: transparent;
  border: none;
  font-size: 25px;
  color: white;
}

.nav-item {
  display: flex;
}

.nav-link {
  font-size: 25px;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.navbar-brand {
  font-size: 1.5rem;
}
.navbar-brand img {
  height: 50px;
}
.nav-link:focus {
  color: #beaaaa;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

/* cards */
/*
Flex para alinhar os cards no centro da pagina
e um do lado do outro
*/
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/*
Simbolo da velocidade do vento bagulho (divisor verde na esquerda)
*/
.wind-icon {
  width: 10px;
  height: 20px;
  background-color: #1dee0a;
  border-radius: 10px;
  display: flex;
}

/*
Simbolo de humidade (divisor azul na esquerda)
*/
.humitity-icon {
  width: 10px;
  height: 20px;
  background-color: #0aadee;
  border-radius: 10px;
}

/* fundo cards */
.fundo {
  background-color: rgb(212, 210, 210);
  position: absolute;
  width: 70vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10em;
  border-radius: 0.5em;
}
/* seção cards content */
.list-group .list-group-item button {
  background-color: #0aadee;
  color: #fff;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out;
}

/*
Cor das setas do mini card
*/
.bi-arrow-down {
  color: blue;
}

.bi-arrow-up {
  color: red;
}

/*aba projetos*/

.projeto-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.projeto-fundo {
  background-color: rgb(212, 210, 210);
  position: absolute;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5em;
  border-radius: 0.5em;
}

.icon-project {
  width: 10px;
  height: 20px;
  background-color: #3b423b;
  border-radius: 10px;
  display: flex;
}

.link-icon {
  width: 10px;
  height: 20px;
  background-color: #3b423b;
  border-radius: 10px;
}

/*
  Tentativa de criação de texto transparente
  erro: parte transparente não vai para trás
  */

.box {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}

.box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  right: 0px;
}
.box p {
  text-align: center;
  color: white;
  font-weight: bold;
}

/* desktop css */

@media (min-width: 768px) {
  .background {
    height: 100vh;
    position: fixed;
    background: url(/img/deb6f7721d41658c6667e6fa03b4ca5d5907ed64d0235a1c0f9d7f000c2a33d9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .card {
    margin-top: 3.6vh;
    width: 20vw;
    height: 40vh;
    background-color: #fafafa;
    right: 4vw;
  }

  .list-group .list-group-item button {
    margin-left: 5vw;
    font-weight: bold;
  }

  .card-list-content {
    display: flex;
    gap: 0.3vw;
    font-weight: bold;
  }

  .list-group-item {
    display: flex;
    gap: 18vh;
    width: 19.8vw;
    height: 6.5vh;
    right: 0.6vw;
    background-color: #fafafa;
  }
  .fundo {
    width: 67vw;
    height: 70vh;
    margin-top: 1vh;
  }

  /*
Alinhamento e configuração da imagem, titulo, 
dia da semana e temperatura
*/
  .card-img-top {
    width: 15vh;
    border-radius: 50%;
  }

  .card-image-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  .temperature {
    font-size: 5vw;
  }

  .card-title {
    text-align: center;
    font-weight: bold;
  }
  .week-day {
    text-align: center;
    font-weight: bold;
    margin-top: 1vh;
    font-size: 2vw;
  }

  /* carousel */

  .slide {
    width: 39.5vw;
    margin-top: 4vh;
    left: -4vw;
  }
  .c-img {
    width: 100%;
    border-radius: 5px;
  }
  /*
  simbolos do card principal
  */
  .data-text img {
    width: 3vh;
  }

  /* Mini cards - inicio */
  /* flex dos outros cartoes */
  .flex-other {
    display: flex;
    justify-content: center;
    gap: 3%;
  }

  .card-project {
    display: flex;
    justify-content: center;
  }

  .card-other {
    width: 20vw;
    height: 9vh;
    display: flex;
    border-radius: 1vw;
    background-color: whitesmoke;
  }
  .card-other .card-head {
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-other .card-head i {
    font-size: 2vw;
    margin-bottom: -1vh;
  }
  .card-other .card-head p {
    font-size: 1vw;
  }
  .card-other .card-content {
    width: 25%;
    display: flex;
  }
  .item {
    height: 4vh;
    margin-top: 1vh;
    display: flex;
  }

  .text-temperature-data {
    display: flex;
    margin-left: 9vw;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .text-humitity-data {
    display: flex;
    margin-left: 8vw;
    margin-bottom: 2vh;
    align-items: center;
  }

  .item .text {
    margin-left: 1.5vh;
    font-weight: bold;
  }
  .item .wind-icon {
    background-color: red;
  }
}

@media (max-width: 600px) {
  .background {
    height: 1200px;
    background: url(/img/pexels-sohail-nachiti-807598.jpg);
    background-size: cover;
    background-position: center;
  }
  .card {
    margin-top: 2vh;
    width: 90vw;
    height: 40vh;
    background-color: #fafafa;
  }

  .fundo {
    margin: 0;
    width: 95vw;
    height: 140vh;
    margin-top: 70vh;
  }
  .list-group-item {
    background-color: #fafafa;
  }

  .card-list-content {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: flex;
    gap: 1vw;
    font-weight: bold;
  }
  .list-group {
    width: 89vw;
    margin-left: -1.6vh;
  }

  .list-group button {
    border-radius: 10vw;
    font-weight: bold;
    margin-left: 20vw;
    margin-bottom: 1vh;
  }
  .list-group-item {
    border-bottom: 1px solid #e0dfdf;
    width: 89.5vw;
    display: flex;
    gap: 39vw;
    font-size: 100%;
  }
  .list-group .list-group-item button:hover {
    background-color: #41c3f7;
  }

  .card-img-top {
    width: 25vw;
  }

  .card-image-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
  }
  .temperature {
    font-size: 25vw;
  }

  .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
  }
  .week-day {
    text-align: center;
    font-weight: bold;
    font-size: 10vw;
  }

  .data-text {
    display: flex;
    gap: 2vw;
    align-items: center;
  }

  .nav-link:hover {
    color: #beaaaa;
  }

  /* carousel */

  .slide {
    width: 42vh;
    left: 8vw;
    margin-top: 25vh;
    margin-left: -3.5vh;
  }
  .c-img {
    width: 100%;
    border-radius: 10px;
  }

  /* Mini cards - inicio */
  /* flex dos outros cartoes */
  .flex-other {
    display: grid;
    gap: 2vh;
    height: 10vh;
    margin-bottom: 29vh;
    margin-left: 10vw;
  }

  .card-other {
    width: 80vw;
    height: 10vh;
    display: flex;
    border-radius: 15px;
    background-color: whitesmoke;
  }

  .card-other .card-head {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-other .card-head i {
    font-size: 8vw;
  }

  .card-other .card-head p {
    font-size: 100%;
  }

  .card-other .card-content {
    display: flex;
  }

  .item {
    height: 5vh;
    margin-top: 1vh;
    display: flex;
  }

  .text-temperature-data {
    font-size: 90%;
    display: flex;
    margin-left: 33vw;
    margin-bottom: 3vh;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
  }
  .text-humitity-data {
    font-size: 75%;
    display: flex;
    margin-left: 32vw;
    margin-top: -3vh;
    align-items: center;
  }

  .item .text {
    margin-left: 2vh;
    font-weight: bold;
    font-size: 70%;
  }
  .item .wind-icon {
    background-color: red;
  }
}
