* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
/*
Nova NavBar não funcionando não sei porque
*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-links li img {
  width: 30px;
  margin-top: -5px;
}

.navbar-links li a {
  padding: 0.3rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: #1dee0a;
  border-radius: 10px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-links ul {
  margin: 10;
  padding: 10;
  display: flex;
  gap: 60px;
  font-size: 22px;
  z-index: 9999;
}

.navbar-links li:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .navba {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.slide {
  width: 100vw;
  height: 100vh;
}

/*
Flex para alinhar os cards no centro da pagina
e um do lado do outro com um gap de 70 pixels
*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/*
Criação da Responsividade dos slides do fundo
*/
.bg-img-1 {
  background-image: url(/img/pexels-brett-sayles-1322185.jpg);
}

.bg-img-2 {
  background-image: url(/img/pexels-louis-2101187.jpg);
}

.bg-img-3 {
  background-image: url(/img/pexels-matthew-montrone-1324803.jpg);
}

.carousel-image {
  width: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
Alinhamento do titulo do card
*/
/* inicio card */
.card {
  margin-top: 1.5em;
  width: 16em;
  height: 200px;
  background-color: #fafafa;
}
.card-title {
  text-align: center;
}
.list-group-item {
  width: 14.8em;
  background-color: #fafafa;
}
/*
Alinhamento e configuração da imagem no topo do card
*/
.card-img-top {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*
Imagem ao lado do titulo (mesma citada acima)
*/

.card-image-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icon {
  left: 50px;
  top: -20px;
  position: absolute;
}

/*
Classe criado para alinhar o conteudo (divisor colorido, dado, simobolo)
*/
.card-list-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/*
Simbolo da velocidade do vento bagulho (divisor verde na esquerda)
*/
.wind-icon {
  width: 10px;
  height: 20px;
  background-color: #1dee0a;
  border-radius: 10px;
}
/*
Simbolo de humidade (divisor azul na esquerda)
*/
.humitity-icon {
  width: 10px;
  height: 20px;
  background-color: #0aadee;
  border-radius: 10px;
}
/*
Alinhamento das listas do card
*/
.list-group-item {
  right: 40px;
}

.fundo {
  background-color: #fff;
  position: absolute;
  width: 70vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 4em;
  border-radius: 0.5em;
  border: 1px solid green;
}
.fundo {
  background-color: #fff;
  position: absolute;
  width: 70vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 4em;
  border-radius: 0.5em;
  border: 1px solid green;
}
.c-img {
  width: 100vw;
  height: 100vh;
}
.fundo2 {
  background-color: transparent;
  position: absolute;
  width: 70vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0.5em;
  /* border: 1px solid #7a7a7a; */
}

@media (min-width: 768px) {
  .card {
    margin-top: 1.5em;
    width: 14em;
    height: 210px;
    background-color: #fafafa;
  }
  .list-group-item {
    width: 12.8em;
    background-color: #fafafa;
  }
  .fundo {
    margin: 0;
    width: 40vw;
    height: 50vh;
  }
  .fundo2 {
    width: 70vw;
    height: 80vh;
  }
}
@media (max-width: 600px) {
  .fundo {
    margin-top: 10em;
  }
  .fundo2 {
    margin-top: 10em;
  }
}
